@font-face {
  font-family: "vogue";
  src: url("./fonts/vogue-webfont.woff2") format("woff2"), url("./fonts/vogue-webfont.ttf") format("truetype"),
    url("./fonts/vogue-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "helvetica-bold";
  src: url("./fonts/helvetica-bold-webfont.woff2") format("woff2"),
    url("./fonts/helvetica-bold-webfont.ttf") format("truetype"),
    url("./fonts/helvetica-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "helvetica";
  src: url("./fonts/helvetica-webfont.woff2") format("woff2"), url("./fonts/helvetica-webfont.ttf") format("truetype"),
    url("./fonts/helvetica-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "helvetica-light";
  src: url("./fonts/helvetica-light-webfont.woff2") format("woff2"),
    url("./fonts/helvetica-light-webfont.woff") format("woff"),
    url("./fonts/helvetica-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}
/* title block */
.title-block {
  z-index: 0 !important;
  font-family: vogue;
  text-align: center;
  background-color: #f9f9f9;
  height: 100px;
}
/* text within */
.small-title {
  letter-spacing: 11px;
  margin-top: 10px;
}
.large-title {
  font-family: "vogue";
  line-height: 85px;
  letter-spacing: 5px;
  font-size: 100px;
}
/* menu-header*/
.header {
  padding: 10px 10px;
  z-index: 1 !important;
  background-color: white;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  text-align: center;
}

.btn-header-old {
  color: black;
  font-size: 11px;
  font-family: helvetica;
  letter-spacing: 1px;
  padding: 0px 20px 0px 20px;
  background-color: transparent;
  border-color: transparent; /*set the color you want here*/
}

.btn-header {
  color: black;
  font-size: 12px;
  font-family: helvetica;
  letter-spacing: 1px;
  /* padding-left: 16px;
  padding-right: 16px; */
  background-color: transparent;
  border-color: transparent;
}

/*button attribute when hovered*/
.btn-header:hover {
  color: #ac101b;
  background-color: transparent;
  border-color: transparent; /*set the color you want here*/
}

/*button attribute when clicked*/
.btn-header:active,
.btn-header:focus {
  color: #ac101b !important;
  background-color: white !important;
  border-color: white !important;
  outline: none !important;
  box-shadow: none !important;
}

/* Changing nav and search icon color when clicked */
.side-menu:hover,
.side-menu:active,
.side-menu:focus {
  fill: #ac101b;
}

.search-icon:hover,
.search-menu:active,
.search-menu:focus {
  fill: #ac101b;
}

/* Pop up side navigation bar CSS */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-right: 1px solid #efefef;
  font-size: 13px !important;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ac101b;
}

.sidenav .closebtn {
  position: absolute;
  font-family: helvetica;
  font-size: 25px;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

.sidenav-title {
  margin-left: 25px;
  font-family: vogue;
  margin-top: 10px;
}

.navbar-md-img {
  height: 5em;
  width: 5em;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 11px;
  }
}

/*site body content*/
.content {
  z-index: 0 !important;
  padding: 16px;
  background-color: white;
  font-family: helvetica-light;
  position: relative;
}
.sticky {
  /* z-index: 1 !important; */
  position: sticky;
  top: 0;
  width: 100%;
}
.btn-danger {
  background-color: #ac101b;
  border-color: #ac101b;
}
.card-body {
  font-size: 13px;
  color: gray;
}

.moreEvents .card-body {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-title {
  font-size: 16px;
  color: black;
}

.center {
  text-align: center;
}
/* Footer divs */
.myFooter {
  background-color: #f9f9f9;
  border-top-color: red !important;
  width: 100%;
  font-family: helvetica-light;
}
.verticalLine {
  border-left: 1px solid LightGrey;
  margin-top: 35px;
  height: 240px;
}
.contactForm {
  font-size: 13px;
}

.open {
  width: 250px;
}

.close {
  width: 0px;
}

/*More Event Divs */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  min-height: 150px;
}

/* The Close Button */
.close-modal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.limited-text {
  line-height: 1.4em;
  height: 11.2em;
  overflow: hidden;
}

/* React share buttons & icons style */
.react-add-to-calendar__button {
  display: block;
}

.react-share-button:hover:not(:active) {
  opacity: 0.75;
}

.custom-icon {
  width: 32px;
  height: 32px;
}

/* Add to calender button style */
.react-add-to-calendar__dropdown {
  text-align: left;
}

.react-add-to-calendar__dropdown ul {
  list-style: none;
  margin: 0;
}

.react-add-to-calendar__dropdown ul li a {
  text-decoration: none;
  color: white;
}

.react-add-to-calendar__dropdown ul li a i {
  padding-right: 10px;
}
